* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

/* Check list link style */
nav ul li a {
  text-decoration: none;
  color: #7b7882;
  font-weight: 700;
}

/* Make text bold on hover */
nav ul li a:hover {
  color: #070707;
  font-weight: 1000;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}

/* Check font styling */
.text h1 span {
  font-weight: 700;
  color: #89C5CC;
}

/* Check font styling */
.text p {
  font-family: 'Open Sans', sans-serif; 
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #7D7987;
  margin: 0 0 50px 0;
}

/* Check font styling and make sure the button is rounded */
.text button {
  width: Hug (169px)px;
  height: Fixed (56px)px;
  top: 486px;
  left: 120px;
  padding: 14px 32px 15px 32px;
  border-radius: 10px;
  opacity: 0px;

  background: #69B99D;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 8px;
}

/* Handle when user hover on the button */
.text button:hover {
  background: #4A9A7E;
}

/* Check the text styling */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  align-items: center; 
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

